body{
    margin:0;
    padding: 0;
    font-style:normal;
    font-family: 'Noto Sans JP', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#2997FF;
}

.header{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.header img:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.lang{
    color:black;
    border-bottom: solid 1px black;
    margin-left:100px;
}
.lang:hover{
    color:#2997FF;
}

#bar .lang{
    display:none;
}

.header .access{
    border-bottom: solid 1px black;
    color:black;
    margin-left:30px;
}
.header .access:hover{
    color:#2997FF;
}

#bar .access{
    display: none;
}


.header .search{
    border:solid 1px black;
    margin-left:30px;
}

#bar .search{
    display:none;
}

#bar{
    display:flex;
    width: 100%;
    height:50px;
    margin:0;
    background-color: #A7212F;
    justify-content: center;
}

#bar li{
    padding:0px 2em;
    float: left;
}

#bar a{
    color:white;
}

#bar a:hover{
    border-bottom: solid 1px white;
}

#site{
    color:white;
    text-align: center;
    text-decoration: underline;
}

.contents{
    padding: 30px 30px 50px 30px; /*上・右・下・左*/
  }

.result{
    padding: 30px 30px 50px 30px; /*上・右・下・左*/
  }

.footer{
    padding:50px 0;
    background-color:#A7212F;
    color:white;
    text-align: center;
}
#site:hover{
    color:#2997FF;
}

#copyright{
    text-align: center;
}

.middle{text-align: center;}
#contact{margin-left: 40%;}

.btn-gnavi{
    display:none;
}