body{
    margin:0;
    padding: 0;
    font-style:normal;
    font-family: 'Noto Sans JP', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#2997FF;
}

.header{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#lang{
    color:black;
    border-bottom: solid 1px black;
    margin-left:100px;
}
#lang:hover{
    color:#2997FF;
}
#access{
    border-bottom: solid 1px black;
    color:black;
    margin-left:30px;
}
#access:hover{
    color:#2997FF;
}
#search{
    border:solid 1px black;
    margin-left:30px;
}
#bar{
    display:flex;
    width: 100%;
    height:50px;
    margin:0;
    background-color: #A7212F;
    justify-content: center;
}

#bar li{
    padding:0px 2em;
    float: left;
}

#bar a{
    color:white;
}

#bar a:hover{
    border-bottom: solid 1px white;
}

#site{
    color:white;
    text-align: center;
    text-decoration: underline;
}

.footer{
    padding:50px 0;
    background-color:#A7212F;
    color:white;
    text-align: center;
}
#site:hover{
    color:#2997FF;
}

#copyright{
    text-align: center;
}

.middle{text-align: center;}
#contact{margin-left: 40%;}

.btn-gnavi{
    display:none;
}

#page_top{
    width: 80px;
    height: 80px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: #D59649;
    opacity: 0.8;
    border-radius: 50%;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0d8';
    font-size: 40px;
    color: #fff;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }