.pair{
    margin-top:60px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#department{
    display: inline-block;
    width: 260px;
    padding:0 20px;
    background-color: #A7212F;
    border-radius: 14px;
    height:400px;
}

#department .title{
    border-bottom:solid 1px white;
    font-size: 1.2em;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05em;
    color:white;
}
#department a{color:black;}
#department h3{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: white;
    border-left: solid 6px #265b94;;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
#department h3:hover{
    transition: 0.5s;
    background-color: #253965;
    color:white;
}
#department .autor{
    color:white;
}

#notice-inner{
    margin:0 3vw;
    width:60vw;
    height:400px;
    border:solid 3px black;
    overflow:auto;
}

#notice-inner dt{
    margin-left:5px;
    font-size: 1.5em;
    color:#A7212F;
}
#notice-inner dd{
    font-size:1.25em;
    word-wrap: break-word;
}

#notice-inner dd a{
    text-decoration: none;
    color:black;
}

#notice-inner dd a:hover{
    color:#2997FF;
}

#notice-inner dl{
    border-bottom: solid 0.5px black;
}
#notice-title{
    text-align: center;
}

#movie video{
    width:80vw;
}

#movie{
    color:white;
    text-align: center;
    margin: 2em 0;
    padding:20px 0;
    background: #253965;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
#movie span{
    border-bottom: solid 2px #D59649;
}


.slider {
    position: relative;
    width: 100%;
    margin-bottom: 55vw;
}

.slider .slider-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left:0;
}
.slider .slider-inner li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 600ms;
    transition: all 600ms;
    pointer-events: none
}
.slider .slider-inner li.show {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
    pointer-events: auto;
    width:auto;
}

.slider .nav {
    display:none;
}

.slider .arrow {
    position: absolute;
    top: 50%;
    font-size: 25px;
    cursor: pointer;
    width: 25px;
    height: 75px;
    margin:0 35px;
    margin-top: 25vw;
    z-index:1;
    background: #253965;
    color: #fff;
    line-height: 75px;
    padding: 5px;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms
}

.slider .arrow:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
}

.slider .arrow#arrow-prev {
    left: 0;
    -webkit-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%)
}

.slider .arrow#arrow-next {
    right: 0;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%)
}

.links-inner{
    padding-bottom:50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
#links-title{
    margin-top:40px;
    text-align: center;
}
.links-inner p{
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin:0 20px;
    width:258px;
    height:84px;
    border:solid 1px gray;
}
.links-inner a{
    color:black;
}
.links-inner a:hover{
    text-decoration: underline;
}

.links-inner i{
    display: none;
}