.top{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.department{
    margin-top:40px;
    padding:0 20px;
    margin-left:6%;
    background-color: #A7212F;
    border-radius: 14px;
    height:400px;
}

.department .title{
    border-bottom:solid 1px white;
    font-size: 1.2em;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05em;
    color:white;
}
.department a{color:black;}
.department h3{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: white;
    border-left: solid 6px #265b94;;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.department h3:hover{
    transition: 0.5s;
    background-color: #253965;
    color:white;
}
.department .autor{
    color:white;
}
.notice{
    margin:auto;
    width: 740px;
    height:400px;
    border:solid 3px black;
    overflow:auto;
}

.notice dt{
    margin-left:5px;
    font-size: 1.5em;
}
.notice-title{
    margin-top:100px;
    text-align: center;
}



.links{
    padding-bottom:50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
#links-title{
    margin-top:80px;
    text-align: center;
}
.links p{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin:0 20px;
    width:258px;
    height:84px;
    border:solid 1px gray;
}
.links a{
    color:black;
}
.links a:hover{
    text-decoration: underline;
}

/* 以下スライダー用 */

.slider {
    position: relative;
    width: 800px;
    height: 400px;
    margin-top:20px;
}

.slider .slider-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left:0;
}

.slider .slider-inner li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 600ms;
    transition: all 600ms;
    pointer-events: none
}
.slider .slider-inner img{
    border-radius: 4px;
}
.slider .slider-inner li.show {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
    pointer-events: auto;
    width:auto;
}

.slider .nav {
    padding-left:0;
    margin-top: 10px;
    text-align: center;
    font-size: 0
}

.slider .nav li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 15px;
    background: #ddd;
    cursor: pointer;
    -webkit-transition: background 400ms;
    transition: background 400ms
}

.slider .nav li:hover {
    background: maroon
}

.slider .nav li.current {
    background: maroon
}


.slider .arrow {
    position: absolute;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
    width: 20px;
    height: 60px;
    background: #000;
    color: #fff;
    line-height: 60px;
    padding: 5px;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms
}

.slider .arrow:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
}

.slider .arrow#arrow-prev {
    left: 0;
    -webkit-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%)
}

.slider .arrow#arrow-next {
    right: 0;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%)
}