/* 以下スライダー用 */
.slider {
    position: relative;
    width: 800px;
    height: 400px;
    margin-top:20px;
}

.slider .slider-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left:0;
}

.slider .slider-inner li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 600ms;
    transition: all 600ms;
    pointer-events: none
}
.slider .slider-inner img{
    border-radius: 4px;
}
.slider .slider-inner li.show {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
    pointer-events: auto;
    width:auto;
}

.slider .nav {
    padding-left:0;
    margin-top: 10px;
    text-align: center;
    font-size: 0
}

.slider .nav li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 15px;
    background: #ddd;
    cursor: pointer;
    -webkit-transition: background 400ms;
    transition: background 400ms
}

.slider .nav li:hover {
    background: #A7212F
}

.slider .nav li.current {
    background: #A7212F
}


.slider .arrow {
    display: none;
}

.movie video{
    width: 50vw;
}