@charset "utf-8";


#video-area {
    z-index: -1;
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height:50vh
}

#video-origin{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}
#video {
    /*天地中央配置*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}
#video-area h1{
    padding-left: 20px;
    font-size:44px;
    top:35vh;
    left:40vw;
    width: 300px;
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}


/*========= レイアウトのためのCSS ===============*/

#container{
  background:#fff;
  padding:100px 0 0px 0;
}

#header h1,#header i{
    color: #fff;
}

#wrapper .btn-gnavi span{
    background-color: #fff;
}

.slider {
    margin:auto;
    position: relative;
    width: 100%;
    margin-bottom: 55vw;
}
#slider-title{
    margin-top:100px;
    font-size: 1.5em;
    text-align: center;
}

#slider-content{
    margin:auto;
    margin-top:70vw;
    width: 80vw;
}

.slider .slider-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left:0;
}
.slider .slider-inner li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 600ms;
    transition: all 600ms;
    pointer-events: none
}
.slider .slider-inner li.show {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
    pointer-events: auto;
    width:auto;
}

.slider .nav {
    display:none;
}

.slider .arrow {
    position: absolute;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top:30vw;
    z-index:1;
    background: #253965;
    color: #fff;
    line-height: 20px;
    padding: 5px;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms
}

.slider .arrow:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
}

.slider .arrow#arrow-prev {
    left: 30px;
    -webkit-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%)
}

.slider .arrow#arrow-next {
    right: 30px;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%)
}

#department{
    margin-top:75px;
    padding:0 20px;
    background-color: #A7212F;
    height:400px;
}

#department h1{
    font-size: 1.2em;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05em;
    color:white;
    margin:auto;
}
#department .title{
    border-bottom:solid 1px white;
}

#department a{color:black;}
#department h3{
    width:200px;
    padding: 0.5em 1em;
    margin: 1em auto;
    background: white;
    border-left: solid 6px #265b94;;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
#department .autor{
    color:white;
}


#notice-inner{
    margin:auto;
    width: 80%;
    height:400px;
    border:solid 3px black;
    overflow:auto;
    background-color: #fcf7f7;
}

#notice-inner dt{
    margin-left:5px;
    font-size: 1.2em;
    color:#A7212F;
}
#notice-inner dd{
    font-size:1em;
    word-wrap: break-word;
}

#notice-inner dd a{
    text-decoration: none;
    color:black;
}

#notice-inner dd a:hover{
    color:#2997FF;
}

#notice-inner dl{
    margin-right: 40px;
    border-bottom: solid 0.5px black;
}
#notice-title{
    text-align: center;
}

#movie{
    color:white;
    text-align: center;
    margin: 2em 0;
    padding:20px 0;
    background: #253965;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
#movie span{
    border-bottom: solid 2px #D59649;
}

#inner-video{
    width: 100%;
    height: 55vw;
}


/* 各種SNS */
#links{
    margin:auto;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.links-inner{
    padding-bottom:50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#links-title{
    margin-top:40px;
    font-size: 1.5em;
}
.links-inner p{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin:0 20px;
    width:250px;
    height:84px;
    border:solid 1px gray;
}
.links-inner a{
    color:black;
}
.links-inner a:hover{
    text-decoration: underline;
}

.links-inner i{
    color:#1877F2;
    margin-right: 10px;
}


#page_top{
    width: 80px;
    height: 80px;
    position: fixed;
    right:10%; 
    bottom: 40px;
    border:solid 2px #D59649;
    border-radius: 50%;
    background-color: rgba(213,150,73,0.8);
  }
  


  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0d8';
    font-size: 40px;
    color:white;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  #page_top a:hover{
    transition: 0.5s;
    opacity: 0.5;
  }