.student {
  text-align: center;
}

.student_element {
  display: inline-block;
}

.student_element img {
  border-radius: 10%;
}

.student_element p {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .student_element {
    margin: 20px;
  }
  .student_element img {
    width: 120px;
  }

  .student_element p {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .student_element {
    width: 30vw;
  }
  .student_element img {
    width: 25vw;
  }
  .student_element p {
    font-size: 3vw;
  }
}

h6 {
  font-size: 20px;
}

#container h6 {
  width: 90px;
  margin: 15px auto 30px auto;
  border-bottom: solid 3px #253965;
  text-align: center;
}

@media screen and (min-width: 1030px) {
  #container h6 {
    margin-left: calc(50vw - 500px);
  }
}

@media screen and (max-width: 1030px) {
  #container h6 {
    margin-left: 30px;
  }
}
